<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thirdreich.dbhandler" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".DBmain"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Modify_DB"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_modifydb"
            android:theme="@style/FullscreenTheme"
            android:launchMode="singleTask"
            android:parentActivityName="com.thirdreich.dbhandler.DBmain">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.thirdreich.dbhandler.DBmain" />
        </activity>
        <activity
            android:name=".View_DB"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_viewdb"
            android:theme="@style/FullscreenTheme"
            android:launchMode="singleTask"
            android:parentActivityName="com.thirdreich.dbhandler.DBmain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thirdreich.dbhandler.DBmain" />
        </activity>
    </application>

</manifest>
